.home{
    width: 100%;
    padding: 0 20px;

    .home-wrapper{
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;

        .navigation{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 20px 0;
            .search-wrapper{
                display: flex;
                align-items: center;
                width: 500px;
                padding: 20px;
                @media screen and (max-width: 600px) {
                    width: 100%;
                }
            }

            .search-wrapper, .select-wrapper{
                background-color: var(--elements);
                box-shadow: var(--shadow);
                border-radius: 6px;
                margin: 20px 0;
            }

            .select-wrapper{
                position: relative;
                cursor: pointer;
                width: 190px;
                svg{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(-20px, -50%);
                    user-select: none;
                    pointer-events: none;
                }
            }

            .select-wrapper{
                padding: 20px;
                padding-right: 50px;
            }

            .select{
                position: absolute;
                top: 100%;
                right: 0;
                transform: translateY(10px);
                background-color: var(--elements);
                width: 100%;
                border-radius: 6px;
                box-shadow: var(--shadow);
                .select-options{
                    padding: 5px 0;
                    padding-left: 20px;
                    padding-right: 50px;
                    transition: all .15s ease-in-out;
                    &:hover{
                        padding-left: 30px;
                        opacity: 75%;
                    }
                }
            }

            input[type='search']{
                appearance: none;
                -moz-appearance:none;
                -webkit-appearance:none;
                border: none;
                outline: none;
                font-family: 'Nunito Sans', sans-serif;
                color: currentColor;
                background: transparent;
            }

            input[type='search']{
                margin-left: 20px;
                width: 100%;
            }

        }

        .card-container{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;

            @media screen and (max-width: 900px) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media screen and (max-width: 600px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (max-width: 400px) {
                grid-template-columns: repeat(1, 1fr);
            }

        }
    }
}